<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RagnaTours</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RagnaTours.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*Navbar from https://getbootstrap.com/docs/5.0/components/navbar/*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar_design">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Index">
                    <img src="/images/logo.png" alt="ragnatours_logo" width="50" height="50"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Index">Forside</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="nav_dropdown" class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Museum
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="/Theme/GetAllThemes">Temaer</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/Exhibition/GetAllExhibitions">Udstillinger</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/Map">Kort</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/AboutUs">Om os</a>
                        </li>
                    </ul>

                    <form class="d-flex" action="/StartTour">
                        <button id="button_start_tour" class="btn" type="submit">START TOUR</button>
                    </form>
                </div>
            </div>
        </nav>
    
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted footer">
        <div class="container">
            <ul class="list">
        <li>
          <a href="#">Forside</a>
        </li>
        <li>
          <a href="#">RagnaRock museum</a>
        </li>
        <li>
          <a href="#">Om os</a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" href="/Kontakt">Kontakt Os</a>
        </li>
      </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>