################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RagnaTours/FileContentIndex/0f6f0d32-865b-4c44-a156-4ab606df2112.vsidx
/.vs/RagnaTours/FileContentIndex/11f68696-9745-465f-b858-897cc791c5c3.vsidx
