@page
@model RagnaTours.Pages.AboutUsModel
@{
}
<div class="aboutUs_container">
    <img style="margin-top: 20px;" src="/Images/AboutUs/Ragnarock01.jpg" width="100%"/>
    <p> </p>
    <h1>Om os</h1>
    <p>

        Stjernearkitekterne i hollandske MVRDV og danske COBE er de kreative hoveder bag RAGNAROCKS ikoniske  bygning. Der både udadtil og indadtil understreger den historie og stemning, som museet formidler.

        Ved at  fremhæve rockens rå side med brug af ubehandlede, robuste materialer, kombinere elementer fra områdets tidligere betonfabrikshaller med nye elementer i skarpe kontraster og tilføje hint af rockens glamourøse side med en guldnittet facade afspejler bygningen både udadtil og indadtil den historie og stemning, som museet formidler.

        “Den røde løber” kickstarter besøgsoplevelsen med forskellige aktiviteter som leder op til museumsbygningen. Fremme ved museet træder man ind i museets rockende røde foyer og velkomstområde, hvorfra man kan gå på opdagelse i museets tilbud.
    </p>
    <hr style="width:100%;text-align:left;margin-left:0">
    <div style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=250&amp;hl=en&amp;q=Ragnarock+(Ragnarock)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="600" frameborder="0"><a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a></iframe></div>
    <hr style="width:100%;text-align:left;margin-left:0">
    <div class="info">
    <div class="underInfo">
        <h3>FIND VEJ</h3>
        <p>

                RAGNAROCK ligger i Roskildes “Rock City” – bydelen Musicon –  ca. 30 minutters kørsel fra København. Vi er let tilgængelige med offentlig transport.<br>

                Roskilde Station har regelmæssige forbindelser til København, Københavns Lufthavn og resten af Danmark. Gåturen fra stationen tager 15 minutter.<br>

                Alternativt kan du tage bus 202A fra stationen. Du kan bruge “Rejseplanen“ til at planlægge din rejse med offentlig transport fra hvor som helst i Danmark.<br>

                Musicon er en bydel i konstant udvikling. Derfor ændrer parkeringsforhold sig ind i mellem i takt med, at nye arealer bebygges. Du kan holde dig opdateret på parkeringsforhold og regler i området her.<br>
        </p>
    </div>
        <div class="underInfo">
        <h3>PRAKTISK INFO</h3>
        <p>


            Hele museet er tilgængeligt med el- og manuel kørestol via elevator til alle udstillingsafsnit.<br>

                Det er muligt at låne kørestol på museet.<br>

                Handicaptoilet forefindes i museets foyer.<br>

                Ledsager til kørestolsbruger har gratis adgang til museet.<br>

                Servicehunde må gerne medbringes på museet.<br>

                Museet er tilgængeligt med barnevogn, jf. ovenstående.<br>

                I museets foyer-område er der mulighed for at opbevare overtøj og mindre tasker i aflåste bokse.<br>

        </p>
    </div>
    </div>
</div>
