@page
@model RagnaTours.Pages.BeskedSendtModel
@{
}

<div style="margin: 10px 100px 10px 100px;">
    <h1>Tak for din besked</h1>
    <hr />
    <p>Tak for din besked!</p>
    <p>Vi stræber efter at besvarer din besked hurtigst muligt.</p>
    <p>Rockene Hilsner!</p>
    <p>Ragna'Tours</p>
    <hr />
    <a style="margin: 15px 0 25px 0;" href="/Index" class="btn btn-success">Forside</a>
</div>
