@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ragna'Tours</h1>
    <p>INTO THE GATES OF HELL</p>
    <img class="center" src="/Images/hellonearth.jpg" alt="" width="720" height="480" />
</div>
