@page
@model RagnaTours.Pages.KontaktModel
@{
}
<h1>Kontakt os:</h1>

<div class="container">
    <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your first name: ">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name: ">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="denmark">Danmark</option>
            <option value="sweden">Sverige</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>           
        </select>

        <label for="subject">Send</label>
        <textarea id="subject" name="subject" placeholder="Write your message here: " style="height:200px"></textarea>

        <a style="margin: 15px 0 15px 0;" href="/BeskedSendt" class="btn btn-success">SEND</a>

    </form>
</div>


<style>
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>