@page
@model RagnaTours.Pages.KortModel
@{
}

<div style="margin: 10px 100px 10px 100px;">
    <h1>Kort</h1>
    <hr />

    <img src="/Images/Starttour/kortstor.png" alt="" />
    <hr />
    <p>Dette er et kort over museet. </p>
</div>
