@page
@model RagnaTours.Pages.StartTourModel
@{
}

<h1>Start Tour</h1>

<div>
    <img src="/Images/Starttour/map2.png" alt="map" width="500" height="500"/>
</div>

<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat augue sed eros semper pharetra. Suspendisse et sapien vel enim volutpat iaculis fringilla ac tortor. Cras vel placerat lectus. Vivamus id egestas eros. Duis at mi tristique, rhoncus dui ac, luctus justo. Vestibulum non nisl vitae elit iaculis vulputate eget eget mi. Phasellus sit amet lorem imperdiet, cursus nibh vel, pellentesque diam. </p>
    <p>Suspendisse potenti. Etiam et dictum arcu. Nullam vel nisi ut ipsum lacinia rutrum nec in ex. Donec porta turpis vel erat varius, sed suscipit metus gravida. Duis malesuada ornare metus, non aliquam erat elementum eu. Quisque scelerisque neque ut sapien finibus, ac laoreet nisi viverra. Etiam consequat eleifend eleifend. Etiam sodales, lectus fringilla malesuada ultricies, velit metus condimentum ex, in rutrum dui lectus sed quam. </p>
</div>

<div>
    <form action="/Starttour/Dansefeber">
        <button id="button_start_tour" class="btn-warning btn-lg" type="submit">START TOUR</button>
    </form>
</div>