@page
@model RagnaTours.Pages.StartTourModel
@{
}
<div style="margin: 10px 100px 10px 100px;">
    <h1>Start Tour</h1>

    <hr />

    <div style="text-align: center;">
        <img src="/Images/Starttour/kortstor.png" alt="map" width="500" height="300"/>
    </div>

    <div>
    <p>Velkommen til Ragna'Tours! Udforsk rockens fantastiske verden med vores innovative lydbaserede navigationsApp. Tag med på en uforglemmelig rejse gennem museet, hvor Ragna'Tours vil lede dig ved hjælp af lyd. Oplev rockens historie, legenderne og de ikoniske øjeblikke gennem fortællinger og musik.</p>
    
    </div>

    <div>
        <form action="/Starttour/Dansefeber">
            <button id="button_start_tour" class="btn-warning btn-lg" type="submit">START TOUR</button>
        </form>
    </div>

</div>