@page
@model RagnaTours.Pages.Starttour.AfslutTurModel
@{
}

<div class="_Main">
    <h1 style="text-align: left; margin-bottom: 15px; margin-top: 15px;">Turen er slut</h1>

    <hr />
        <div style="text-align: left;" class="text">
            <p>
            Tusind tak for at være en del af RAGNAROCK og bruge vores app. Vi håber virkelig at se dig igen snart til flere sindssyge musikalske eventyr.
            <br />
            <br />
            Rock on, my friend!
            </p>
        </div>

    <br />

    <br />
    <hr />

    <a style="margin-top: 15px;" href="/Index" class="btn btn-outline-success">Afslut tur &raquo;</a>
</div>
