@page
@model RagnaTours.Pages.Starttour.DansefeberModel
@{
}

<div class="_Main">
    <h1>Dansefeber</h1>

    <div class="imgtext_container">
        <div class="imgage">
            <img src="/Images/Exhibitions/DanseFeber.JPEG" alt="" /> <br />
        </div>

        <div class="text">
            <p>
                Tag dansesko på. Nyt look og nye trin drager. 
                Dans baner vejen for ny musik. Det er med kroppen vi mærker musikken. Vi hengiver os til rytmer. 
                I dans kan ungdommen give los og finde sig selv. 
                Rytme er hjerteslag for den krop, der i danseskolen holdes i stram snor. Sanserne vækkes. 
            </p> 
        </div>
    </div>

    <br />
    
    <div style="text-align: left;" >
    <h3>Afspil lyd guide</h3>

    <audio class="audio_ST" controls>
        <source src="/Sounds/sample-6s.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> 
    </div>

    <br />
    <hr />

    <a style="margin-top: 15px;" href="/Starttour/LadDerBliveLys" class="btn btn-outline-dark">Next &raquo;</a>

</div>

