@page
@model RagnaTours.Pages.Starttour.DemoteketModel
@{
}

<div class="_Main">
    <h1 style="text-align: left; margin-bottom: 15px; margin-top: 15px;">Demoteket</h1>

    <hr />

    <div class="imgtext_container">
        <div style="margin-right: 35px;" class="imgage">
            <img src="/Images/Exhibitions/Demoteket.JPEG" alt="" /> <br />
        </div>

        <div style="text-align: left;" class="text">
            <p>
            Det eneste vi skal bruge er en mikrofon. Og en båndoptager. 
            Eller en computer med et lydkort. Vi laver demobånd, som vi altid har gjort eller deler musikken på nettet. 
            Vi optager for at perfektionere vores sange. For at blive opdaget. 
            Komme ud. Komme i kontakt. Med pladeselskaber, med musikere. Med jer.  
            </p> 
        </div>
    </div>

    <br />

    <div style="text-align: left;" >
    <h3>Afspil lyd guide</h3>

    <audio class="audio_ST" controls>
        <source src="/Sounds/sample-6s.mp3" type="audio/mpeg">
        Yourbrowser does not support the audio element.
    </audio> 
    </div>

    <br />
    <hr />
 
    <a style="margin-top: 15px;" href="/Starttour/Dansefeber" class="btn btn-outline-dark">&laquo; Previous</a>
    <a style="margin-top: 15px;" href="/Starttour/MusikalskeStrømme" class="btn btn-outline-dark">Next &raquo;</a>
</div>



