@page
@model RagnaTours.Pages.Starttour.FrivilligModel
@{
}

<div class="_Main">
    <h1 style="text-align: left; margin-bottom: 15px; margin-top: 15px;">Frivillig</h1>

    <hr />

    <div class="imgtext_container">
        <div style="margin-right: 35px;" class="imgage">
            <img src="/Images/Exhibitions/Frivillig.JPEG" alt="" /> <br />
        </div>

        <div style="text-align: left;" class="text">
            <p>
                Der er mange grunde til at være frivillig. 
                Fortjenesten fra 26.000 Skiburgere, armbåndet eller sammenholdet bag disken. 
                Det fælles arbejde har skabt festivalen siden 1971. 
                Det er det største fællesskab i fællesskabet. Og det minder ikke om den måde man arbejder nogen andre steder. 
                Her leder førtidspensionisten en stor division. Direktøren renser lokummer.
            </p>
        </div>
    </div>

    <br />

    <div style="text-align: left;" >
    <h3>Afspil lyd guide</h3>

    <audio class="audio_ST" controls>
        <source src="/Sounds/sample-6s.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> 
    </div>

    <br />
    <hr />

    <a style="margin-top: 15px;" href="/Starttour/SmattensMagi" class="btn btn-outline-dark">&laquo; Previous</a>
    <a style="margin-top: 15px;" href="/Starttour/LadDerBliveLys" class="btn btn-outline-success">Afslut tur &raquo;</a>
</div>




