@page
@model RagnaTours.Pages.Starttour.LadDerBliveLysModel
@{
}

<div class="_Main">
    <h1 style="text-align: left; margin-bottom: 15px; margin-top: 15px;">Lad der blive lys</h1>

    <hr />

    <div class="imgtext_container">
        <div style="margin-right: 35px;" class="imgage">
            <img src="/Images/Exhibitions/LadDerBliveLys.JPEG" alt="" /> <br />
        </div>

        <div style="text-align: left;" class="text">
            <p>
            Farverne bølger og flyder. Et sanse trip. Det er psykedelisk i slutningen af 1960'erne: 
            Bevidstheden udvides og forvrænges. Syn og hørelse smelter sammen. 
            Lyset bliver en del af musikken og musikken en del af lyset. Koncertoplevelsen ændres for altid.    
            </p> 
        </div>
    </div>

    <br />

    <div style="text-align: left;" >
    <h3>Afspil lyd guide</h3>

    <audio class="audio_ST" controls>
        <source src="/Sounds/sample-6s.mp3" type="audio/mpeg">
        Yourbrowser does not support the audio element.
    </audio> 
    </div>

    <br />
    <hr />
    
    <a style="margin: 15px 0 25px 0;" href="/Starttour/Dansefeber" class="btn btn-outline-dark">&laquo; Previous</a>
    <a style="margin: 15px 0 25px 0;" href="/Starttour/Demoteket" class="btn btn-outline-dark">Next &raquo;</a>
</div>

