@page
@model RagnaTours.Pages.Starttour.MusikalskeStrømmeModel
@{
}

<div class="_Main">
    <h1>Musikalske Strømme</h1>

    <div class="imgtext_container">
        <div class="imgage">
            <img src="/Images/Exhibitions/MusikalskeStrømme.JPEG" alt="" /> <br />
        </div>

        <div class="text">
            <p>
            Danmarks musikscene påvirkes af det store udland. Musikerne lader sig inspirere af nye musikgenrer. 
            Forskellige musikstrømme lever side om side; efterligner og afløser hinanden. Kontraster resulterer i nye mix. 
            Grænserne er udviskede: hvor de starter, hvor de slutter - svært at sige! Det er nytænkning bygget på traditioner.  
            </p> 
        </div>
    </div>

    <br />

    <div style="text-align: left;" >
    <h3>Afspil lyd guide</h3>

    <audio class="audio_ST" controls>
        <source src="/Sounds/sample-6s.mp3" type="audio/mpeg">
        Yourbrowser does not support the audio element.
    </audio> 
    </div>

    <br />
    <hr />

    <a style="margin-top: 15px;" href="/Starttour/Demoteket" class="btn btn-outline-dark">&laquo; Previous</a>
    <a style="margin-top: 15px;" href="/Starttour/SmattensMagi" class="btn btn-outline-dark">Next &raquo;</a>
</div>
