@page
@model RagnaTours.Pages.Starttour.SmattensMagiModel
@{
}

<div class="_Main">
    <h1 style="text-align: left; margin-bottom: 15px; margin-top: 15px;">Smattens Magi</h1>

    <hr />

    <div class="imgtext_container">
        <div style="margin-right: 35px;" class="imgage">
            <img src="/Images/Exhibitions/SmattensMagi.JPEG" alt="" /> <br />
        </div>

        <div style="text-align: left;" class="text">
            <p>
                Roskilde Festival har altid forandret sig i takt med nye tiders unge. 
                Den har omfavnet deres drømme om frihed og fest. 
                Den har vist tænder, og den har svigtet i år 2000. 
                Men Roskilde og dens publikum har altid rejst sig fra smatten - stærkere og smukkere. 
                Roskilde er skabt af frivillige og formet af dets publikum igennem 50 år.
            </p>
        </div>
    </div>

    <br />

    <div style="text-align: left;" >
    <h3>Afspil lyd guide</h3>

    <audio class="audio_ST" controls>
        <source src="/Sounds/sample-6s.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> 
    </div>

    <br />
    <hr />
   
    <a style="margin-top: 15px;" href="/Starttour/MusikalskeStrømme" class="btn btn-outline-dark">&laquo; Previous</a>
    <a style="margin-top: 15px;" href="/Starttour/Frivillig" class="btn btn-outline-dark">Next &raquo;</a>
</div>


